*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

*::-webkit-scrollbar {display:none;}


.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.heading{
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;

}



.location{
     display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 70vh;
    background-color: lightsteelblue;
    padding: 5px;
}
.location h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    color: red;
}

.education{
    margin-top: 0;
}

.nav{
    width: 100vw;
}