.home{
  /* margin-top: 0.5rem;
  width: 100%;
  border: 1px solid; */
}
.circle{
    border-radius: 50%;
    /* border: 1px solid lightseagreen; */
    display: flex;
    justify-content: center;
    height: 40vh;
    width: 30vw;
    /* background-color: lightslategrey; */
   
}

.left{
    width: 50vw;
    height: 84vh;
    /* background-color: lightskyblue; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 0.4rem;
    gap: 2rem;
    font-family:monospace;
}
.right{
    position: absolute;
    right: 0;
    top: 5.4rem;
    width: 50vw;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: darkcyan; */
    flex-direction: column;
    /* margin-top: 0.4rem; */
    gap:2rem;
}

.pic{
    position: absolute;
    height: 24rem;
    margin-bottom: 250rem;
    top: 3rem;
}

.gif{
    margin-top: 2rem;
    height: 40vh;
    width: 40vw;
}

.wrapper{
    background-image: url('../banner-bg.png');
}